<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <title>Add home to airbnb</title>
</head>

<body class="flex flex-col items-center justify-center min-h-screen space-y-6 bg-teal-200">
  <header>
    <h1 class="text-4xl font-semibold text-gray-800 mb-2">Register your home here:</h1>
  </header>
    <form class="flex flex-col items-center justify-center" action="/host/add-home" method="POST">
      <input type="text" name="houseName" placeholder="Enter the name of your house" />
      <input type="Submit" />
    </form>
</body>

</html>