<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <title>Home added successfully</title>
</head>
<body class="flex flex-col items-center justify-center min-h-screen space-y-6 bg-teal-200">
  <header>
  <h1 class="text-4xl font-semibold text-gray-800 mb-2">Home is registered successfully</h1>
  </header>
  <main class="flex items-center justify-center h-10 bg-white w-36 rounded-xl border-transparent transition-all duration-400 ease-in-out 
            hover:border-[2px] hover:border-green-700 hover:scale-105">
    <a class="text-[20px]" href="/">Go to home</a>
    </main>
</body>
</html>